.container {
  background-image: url('../../assets/images/items/Lake-Background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  margin-top: calc(var(--mantine-spacing-md) * -1);
  margin-bottom: calc(var(--mantine-spacing-md) * -1);
  padding: var(--mantine-spacing-md);
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
}

.content {
  max-width: 750px;
  margin-right: calc(var(--mantine-spacing-xl) * 3);
  padding: var(--mantine-spacing-xl);
  background: rgba(255, 255, 255, 0.5);
  border-radius: var(--mantine-radius-lg);
  backdrop-filter: blur(4px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: 500px;
  height: 500px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}
